.creator-title {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
}

p {
	font-size: 1em;
	font-family: Nunito Sans, Times New Roman, sans-serif;
	color: #0c0e0e;
	margin-top: 20px;
	margin-bottom: 60px;
}
